<div style="display: flex; justify-content: space-between; align-items: center;">
    <div class="container1">
      <div class="row">
        <div class="col col-7">
          <p class="title">オリジーナル画像</p>
          <div class="ivu-upload" [hidden]="showCropper">
            <div class="ivu-upload ivu-upload-drag"
              (drop)="onDrop($event)"
              [style.borderColor]="dragOver ? 'red' : none"
              (dragover)="onDragover($event)"
              (dragleave)="onDragleave($event)">
              <label for="filexxx">
                <input type="file" class="ivu-upload-input" id="filexxx" (change)="fileChangeEvent($event)">
                <div class="desc">
                  <div>Click or drag files here to upload</div>
                </div>
              </label>
            </div>
          </div>
          <div [hidden]="!showCropper" style="text-align: center;">
            <div style="display: inline-block;">
              <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="false"
                [containWithinAspectRatio]="containWithinAspectRatio"
                [aspectRatio]="4 / 3"
                [resizeToWidth]="256"
                [cropperMinWidth]="15"
                [cropperMinHeight]="15"
                [onlyScaleDown]="true"
                [roundCropper]="false"
                [canvasRotation]="canvasRotation"
                [transform]="transform"
                [alignImage]="'center'"
                [style.display]="showCropper ? null : 'none'"
                format="png"
                [imageQuality]="100"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded($event)"
                (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()"
                (mouseover)="scaleImg()"
                (mouseout)="cancelScale()"
                ></image-cropper>
            </div>
            <div>
              <!-- <button type="button" class="btn btn-primary" style="width: 350px;margin-top: 40px;">再アップロード</button> -->
              <label for="file222" class="btn btn-primary" style="width: 350px;margin-top: 40px;">
                <input type="file" class="ivu-upload-input" id="file222" (change)="fileChangeEvent($event)">
                <span>再アップロード</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col col-5 line">
          <div style="text-align: center;">
            <div>
              <p class="title">オリジナルナンバープレート画像</p>
              <img [src]="croppedImage" class="p-img" />
            </div>
            <div style="margin-top: 20px;">
              <p class="title">超解像後画像</p>
              <img [src]="convertImage" class="p-img" />
            </div>
            <div style="margin-top: 20px;text-align: center;">
              <button
                class="btn btn-primary"
                (click)="uploadImg()"
                [disabled]="!showCropper"
                style="width: 80%;">超解像実施</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>