.container1 {
  padding: 10px;
  // background: aliceblue;
  margin-top: 20px;
  // border: 1px solid;
  width: calc(100% - 200px);
  margin-right: auto;
  margin-left: auto;
}
.title {
  // font-weight: 700;
  padding: 10px;
  background: aliceblue;
}
p {
  font-family: Lato;
  text-align: left;
}

image-cropper {
  // height: 50vh;
  width: 628px;
  height: 352px;
}

.p-img {
  border: 1px solid #eee;
  width: 258px;
  height: 146px;
}

.btn-1 {
  color: #333;
  fill: #333;
  border: 1px solid #ccc;
  background: #fff;
  margin-right: 5px;
  &:hover {
    border: 1px solid #999;
  }
}
.line {
  position: relative;
  &::before {
    content: ' ';
    display: inline-block;
    height: 100%;
    width: 1px;
    background-color: #eee;
    position: absolute;
    left: 0px;
  }
}
.ivu-upload {
  display: flex;
  justify-content: center;
}
.ivu-upload-drag {
  background: #fff;
  border: 1px dashed #dcdee2;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: border-color .2s ease;
  width: 628px;
  height: 352px;
  label {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .desc {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ivu-upload-input {
  display: none;
}