<div class="container">
  <div class="title">車輌ナンバープレート超解像デモ</div>
  <div class="row">
    <div class="col col-8">
      <p>オリジナル画像：</p>
      <div class="ivu-upload" [hidden]="showCropper">
        <div class="ivu-upload ivu-upload-drag"
          (drop)="onDrop($event)"
          [style.borderColor]="dragOver ? 'red' : none"
          (dragover)="onDragover($event)"
          (dragleave)="onDragleave($event)">
          <label for="filexxx">
            <input type="file" class="ivu-upload-input" id="filexxx" (change)="fileChangeEvent($event)">
            <div style="padding: 20px 0px;">
              <div>Click or drag files here to upload</div>
            </div>
          </label>
        </div>
      </div>
      <div [hidden]="!showCropper" style="text-align: center;">
        <div style="display: inline-block;">
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
            [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4 / 3" [resizeToWidth]="256"
            [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false" [canvasRotation]="canvasRotation"
            [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png" [imageQuality]="100"
            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady($event)"
            (loadImageFailed)="loadImageFailed()" (mouseover)="scaleImg()" (mouseout)="cancelScale()"></image-cropper>
        </div>
        <div>
          <button type="button" class="btn btn-primary" style="width: 350px;">オリジナル画像ナンバープレート</button>
          <!-- <button class="btn btn-1" (click)="rotateLeft()">Rotate left</button>
          <button class="btn btn-1" (click)="rotateRight()">Rotate right</button>
          <button class="btn btn-1" (click)="zoomOut()">-</button>
          <button class="btn btn-1" (click)="zoomIn()">+</button>
          <br>
          <button class="btn btn-1" (click)="moveLeft()">left</button>
          <button class="btn btn-1" (click)="moveRight()">right</button>
          <button class="btn btn-1" (click)="moveUp()">up</button>
          <button class="btn btn-1" (click)="moveDown()">down</button>
          <button class="btn btn-1" (click)="showCropper = false">clear</button> -->
          <!-- <button class="btn" (click)="flipHorizontal()">Flip horizontal</button>
          <button class="btn" (click)="flipVertical()">Flip vertical</button>
          <button class="btn" (click)="resetImage()">Reset image</button> -->
          <!-- <input [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()" /> -->
        </div>
      </div>
    </div>
    <div class="col col-4">
      <div style="text-align: center;">
        <div>
          <p>オリジナルナンバープレート画像：</p>
          <img [src]="croppedImage" [style.border]="'1px solid black'" [style.minWidth]="'120px'"
            [style.minHeight]="'100px'" />
        </div>
        <div style="margin-top: 20px;">
          <p>超解像結果：</p>
          <img [src]="convertImage" [style.border]="'1px solid black'" [style.minWidth]="'120px'"
            [style.minHeight]="'100px'" />
        </div>
        <div style="margin-top: 20px;text-align: left;">
          <button
            class="btn btn-primary"
            (click)="uploadImg()"
            [disabled]="!showCropper"
            style="width: 80%;">超解像実施</button>
        </div>
      </div>
    </div>
  </div>
</div>